<main class="container-main">
    <div class="box-conteudo">
        <h1>Editar o Livro</h1>
        <form method="post" action="@Url.Action("Atualizar", new {id = ViewBag.Livro.LivroID})" enctype="multipart/form-data">
            <div class="form-linha">
                <div class="form-group-name">
                    <label class="form-label" for="Nome">Nome</label>
                    <input type="text" name="Nome" class="form-input" placeholder=""
                    value="@ViewBag.Livro.Nome">
                </div>

                <div class="form-upload">
                    <label class="form-label" for="Imagem">Foto</label>
                    <div class="input-foto">
                        <input type="file" name="Imagem" value="@ViewBag.Livro.Imagem">
                    </div>
                </div>
            </div>

            <div class="form-linha">
                <div class="form-group">
                    <label class="form-label" for="Escritor">Escritor</label>
                    <input type="text" name="Escritor" class="form-input" placeholder=""
                    value="@ViewBag.Livro.Escritor">
                </div>

                <div class="form-group">
                    <label class="form-label" for="Idioma">Idioma</label>
                    <input type="text" name="Idioma" class="form-input" placeholder=""
                    value="@ViewBag.Livro.Editor">
                </div>
                <div class="form-group">
                    <label class="form-label" for="Editora">Editora</label>
                    <input type="text" name="Editora" class="form-input" placeholder=""
                    value="@ViewBag.Livro.Editora">
                </div>
            </div>

            <div class="form-linha">
                <div class="form-group">
                    <label class="form-label" for="categoria">Categoria</label>
                    <ul>
                        @foreach(var categorias in ViewBag.CategoriasDoSistema){

                        bool checkSave = false;
                        @foreach(var categoriasDoLivro in ViewBag.Categoria){
                            if(categoriasDoLivro.CategoriaID == categorias.CategoriasID){
                                checkSave = true;
                                break;
                            }
                        }
                        <li>
                            <input name="Categoria" type="checkbox" value="@categorias.categoriaID" checked="@(checkSave ? "cheked" : null)">
                            <label class="form-label-categoria" for="Categoria">@categorias.Nome</label>
                        </li>
                        }

                    </ul>
                </div>
            </div>

            <div class="form-linha">
                <div class="form-group">
                    <label class="form-label" for="Descricao">Descrição</label>
                    <textarea type="text" name="Descricao"
                        class="form-input form-descricao">@ViewBag.Livro.Descricao</textarea>
                </div>
            </div>

            <div class="btn-div">
                <button type="submit" class="btn btn-cadastrar">Editar</button>
            </div>
        </form>
    </div>
</main>